@function px($target-px) {
  @return ($target-px * 1)px;
}

@function PxToRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@function variable($x) {
  @return unquote("$" + $x);
}

@mixin b($min,$max){
  @media (min-width: px($min)) and (max-width:  px($max)) {
    @content;
  }
}

@mixin m($min){
  @media (max-width: px($min)){
    @content;
  }
}

@mixin p($max){
  @media (min-width:  px($max)){
    @content;
  }
}